.header {
  height: 5rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .shop-logo {
  height: 5rem;
  width: 5rem;
  background-color: var(--color-orange);
  color: #fcfcfc;
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .right .options {
  display: flex;
  gap: 1rem;
  margin-right: 5rem;
}

.header .right .bag {
  margin-right: 5rem;
}
